openai-whisper
kokoro>=0.9.4
numpy
soundfile
langchain-google-genai
langchain-core
langchain-mongodb
fastapi-cors
fastapi
markdown
beautifulsoup4
uvicorn
python-multipart
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl